$font-stack-body: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
  Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$top-app-bar-box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px,
  rgb(0 0 0 / 12%) 0px 1px 10px 0px;
$top-app-bar-bg-color: rgb(25, 118, 210);
$white-bg-color: rgb(255, 255, 255);
$width-100: 100%;
$item-2-container-box-shadow: rgba(0 0 0 / 0.2) 0px 2px 1px -1px, rgba(0 0 0 / 0.14) 0px 1px 1px 0px,
  rgba(0 0 0 / 0.12) 0px 1px 3px 0px;
$list-style-font-family: Roboto, Helvetica, Arial, sans-serif;
$media-padding: 24px;
$display-block: block;
$flex-me-up: flex;
$one-thirds-percentage: 33.3333%;
$two-thirds-percentage: 66.6667%;

.App {
  text-align: center;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: $font-stack-body;
}

div {
  display: $display-block;
}

.top-app-bar {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: $top-app-bar-box-shadow;
  display: $flex-me-up;
  flex-direction: column;
  width: $width-100;
  box-sizing: border-box;
  flex-shrink: 0;
  position: fixed;
  z-index: 1100;
  top: 0px;
  left: auto;
  right: 0px;
  background-color: $top-app-bar-bg-color;
  color: $white-bg-color;

  .top-app-bar-container {
    position: relative;
    display: $flex-me-up;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
  }
}

.main-page-wrapper {
  width: 95%;
  margin: 75px auto;
  display: $flex-me-up;
}

.main-page-wrapper {
  width: $width-100;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: $display-block;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
}

.main-page-container {
  box-sizing: border-box;
  display: $flex-me-up;
  flex-flow: row wrap;
  margin-top: -24px;
  width: calc(100% + 24px);
  margin-left: -24px;
}

.item-1 {
  flex-basis: 100%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: $width-100;
  box-sizing: border-box;
  margin: 0px;
  flex-direction: row;

  ul {
    display: $display-block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
}

.numbered-list {
  list-style: none;
  margin: 0px;
  padding: 8px 0px;
  position: relative;
}

li:hover {
  background: rgba(0, 0, 0, 0.04);
}

.numbered-list-container {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border-width: 0px 0px 1px;
  border-top-style: initial;
  border-right-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-left-color: initial;
  border-image: initial;
  margin: 0px;
  border-radius: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  color: inherit;
  display: $flex-me-up;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  width: $width-100;
  box-sizing: border-box;
  text-align: left;
  padding: 8px 16px;
  border-bottom-style: solid;
  border-bottom-color: rgba(18, 15, 15, 0.12);
  background-clip: padding-box;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.list-number {
  min-width: 56px;
  color: rgba(0, 0, 0, 0.54);
  flex-shrink: 0;
  display: inline-flex;
}

.list-text {
  flex: 1 1 auto;
  min-width: 0px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.list-style {
  margin: 0px;
  font-family: $list-style-font-family;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  display: $display-block;
}

.span-list {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  inset: 0px;
  border-radius: inherit;
}

.item-2 {
  box-sizing: border-box;
  margin: 0px;
  flex-direction: row;

  .item-2-container {
    background-color: $white-bg-color;
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: $item-2-container-box-shadow;
    overflow: hidden;
    text-align: left;

    .img-container {
      display: $display-block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: $width-100;
      object-fit: cover;
    }

    .item-2-title-container {
      display: $flex-me-up;
      -webkit-box-align: center;
      align-items: center;
      padding: 16px;

      .title-container {
        flex: 1 1 auto;

        .span-title {
          margin: 0px;
          font-family: $list-style-font-family;
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 1.334;
          letter-spacing: 0em;
          display: $display-block;
        }
      }
    }

    .item-2-body-container {
      padding-bottom: $media-padding;
      padding: 16px;
    }
  }
}

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: '';
  display: $display-block;
  position: absolute;
  width: $width-100;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}

@media (min-width: 600px) {
  .main-page-wrapper {
    padding-left: $media-padding;
    padding-right: $media-padding;
  }

  .item-2 {
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: $width-100;
  }

  .top-app-bar-container {
    min-height: 64px;
    padding-left: $media-padding;
    padding-right: $media-padding;
  }
}

@media (min-width: 900px) {
  .item-1 {
    flex-basis: $one-thirds-percentage;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: $one-thirds-percentage;
    padding-right: $media-padding;
    padding-top: $media-padding;
  }

  .item-2 {
    flex-basis: $two-thirds-percentage;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: $two-thirds-percentage;
    padding-top: $media-padding;
  }
}

@media (min-width: 1200px) {
  .main-page-wrapper {
    max-width: 1200px;
  }
}
